<h1>Welcome to Flashy!</h1>
<p>You never really win this game...you just get a little better each time</p>
<p><a href="/login">Sign In</a> or <a href="/signup">Sign Up</a> to play!</p>

<h2>Feature List</h2>
<p>Stat Tracking!</p>
<p>Game History!</p>
<p>Ruby and Movie Decks!</p>
<p>Secure Authentication!</p>

<h2>Testimonials</h2>
<p>Here are what some of our satisfied users are saying:</p>
<blockquote><span id="quote">"I can't believe I didn't find this earlier!"</span> - George Washington</blockquote>
<blockquote><span id="quote">"Educational AND fun! Awesome!"</span> - Random guy</blockquote>
<blockquote><span id="quote">"Give these guys money."</span> - Ben Bernanke</blockquote>
<blockquote><span id="quote">
"You are guaranteed to get smarter from playing this game!"</span> - Albert Einstein</blockquote>