<h1>Welcome to Flashy!</h1>
<p>You never really win this game...you just get a little better each time</p>
<blockquote><span id="quote">"I can't believe I didn't find this earlier!"</span> - George Washington</blockquote>
<blockquote><span id="quote">"Educational AND fun! Awesome!"</span> - Random guy</blockquote>
<blockquote><span id="quote">"Give these guys money."</span> - Ben Bernanke</blockquote>