<!DOCTYPE html>
<html lang="en">
<head>
  <!-- 
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/normalize.css">

  <title></title>
</head>
<body>

<nav>
    <ul>
      <% if current_user %>
      <li><a id="sign-out" href="/session/<%= current_user.id %>">Sign Out</a></li>
      <% else %>
      <li><a class="btn" href="/login">Sign In</a></li>
      <li><a class="btn" href="/signup">Sign Up</a></li>
      <% end %>
    </ul>
  </nav>
  


<style type="text/css">

body
{
/*background-image:url('http://collectorsshangri-la.com/media/catalog/product/cache/1/image/2405d7a09b0b5e10b17fc0dcd4e27dfd/r/e/revenge_nerds_cast4.jpg');*/
background-color: pink;
}


  .container {
    margin: 20px auto;
    width: 600px;
    padding: 0px 20px 20px 20px;
    border: 1px solid black;
  }
  th {
    text-align: left;
  }

  a.btn {
    border: 1px solid gray;
    background-color: #c0d6e4;
    color: black;
    padding: 5px;
    text-decoration: none;
    display: inline-block;
  }

  .errors {
    color: red;
  }


  .form_element {
    padding: 9px;  
    outline: 0;  
    font: normal 20px/100% Verdana, Tahoma, sans-serif; 
    font-size: 40px; 
    width: 200px;  
    background: pink;  

  }


  .submit input {
    width: auto;  
    padding: 9px 15px;  
    background: #617798;  
    border: 0;  
    font-size: 40px;  
    color: #FFFFFF;  

  }

</style>

  <%= yield %>
</body>
</html>
