<!DOCTYPE html>
<html lang="en">
<head>
  <link href='http://fonts.googleapis.com/css?family=Merriweather+Sans:400,700|Roboto:400,700|Raleway|Carter+One' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/main.css">

  <title></title>
</head>
<body>

<nav>
  <li id="logo"><a href="/">Flashy</a></li>
  <ul class="nav">
  <% if current_user %>
    <li><a href="/session/<%= current_user.id %>">Sign Out</a></li>
     <% else %>
    <li><a href="/login">Sign In</a></li>
    <li><a href="/signup">Sign Up</a></li>
  <% end %>
</nav>

<div class="container">
  <%= yield %>
</div>
</body>
</html>
