
<h2>Already have an account? Sign In:</h2>
<% if @error %>
  <div class="errors"><%= @error %></div>
<% end %>

<form class ="form" method="post" action="/session">
  
  <p class="form_element">  
    <input type="email"  name = "user[email]" placeholder="Email" class="input">
    <!-- <label for="email">Email</label>   -->
  </p> 

  <p class="form_element"> 
    <input type="password"  name="user[password]" placeholder="Password" class="input">
    <!-- <label for="password">Password</label>   -->
  </p> 

  <p class="submit">  
    <input type="submit" value="login" class="button">
  </p>

</form>

