<div class="container">
  <h2>Signup for an Account:</h2>
  <form method="post" action ="/user/new">
    <input type="email"  name = "user[email]" placeholder="email">
    <input type="password"  name="user[password]" placeholder="password">
    <input type="submit" value="signup">
  </form>
</div>
